{% extends "layout.html.twig" %}

{% block content %}
    {% include 'components/background_bubbles.html.twig' %}

    <div class="gradient-container text-center">
        <h1 class="text-white display-1">Guestbook</h1>

        <div class="text-white">
            {% if pagerfantaObject|length > 0 %}
                <div class="row mb-3">
                    <p class="col-4 fs-2 fw-bolder">Entry №</p>
                    <p class="col-4 fs-2 fw-bolder">Name</p>
                    <p class="col-4 fs-2 fw-bolder">Entered At</p>
                </div>
                {% for guestbookEntry in pagerfantaObject %}
                    <div class="row mb-3">
                        <p class="col-4 fs-3 mb-0">{{ guestbookEntry.id }}</p>
                        <p class="col-4 fs-3 mb-0">{{ guestbookEntry.name }}</p>
                        <p class="col-4 fs-3 mb-0">{{ guestbookEntry.createdAt|date('d.m.Y') }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <div class="fs-2 fw-bolder">There are no guests yet.</div>
            {% endif %}
        </div>

        {% if pagerfantaObject|length > 0 %}
            {% if maxItemsPerPage < pagerfantaObject|length %}
                <div class="d-flex justify-content-center">
                    {{ pagerfanta(pagerfantaObject) }}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
